
@font-face {
    font-family: Roboto;
    src: url(./Roboto-Italic.ttf);
}

body {   
    font-family: Roboto;
    margin: auto;
    width: 63%;
    padding-left: 20%;
    padding-top: 2rem;
}

div.content {
    border: 1px solid blue; 
    overflow: hidden; 
    width: 50%;
}

i.fa-html5 {
    font-size:24px;
    position: relative;
    bottom: .4rem;
}

div.margen {
    margin: 0 .5rem;
}

p.title {
    display: inline-block;
}

i.fa-ellipsis-v {
    font-size:36px;
    float: right;
    position: relative;
    top: 1rem;
}

div.img {
    width: 100%;
    height: 18rem;
}

i.fa-comment-o, i.fa-paper-plane-o, i.fa-heart-o {
    font-size: 24px;
}

i.fa-bookmark-o {
    font-size: 24px;
    float: right;
}